#mapid {
    margin-top: 15px;
    height: 870px;
    width: 1250px;
}

main {
    display: inline-block;
}

.book{
       display: flex;
       flex-direction: row;
       justify-content: space-between;
       width: 100%;
       height: 310px;
       padding: 25px;
       background-color: yellow;   
       border-style: solid;
       border-width: 2px;
       border-color:white; 
}
.left{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

}
body{
    display: block;
    justify-content: center;
}
.filter-box{
    margin: 20px;
    padding: 20px;
    align-items: flex-start;
}


.right .filter-box .homes-box {
    width: 100%;
    padding: 20px;
    list-style: none;
    justify-self: center;
}

footer {
    display: inline-flex;
    margin-top: 2px;
    margin-right: 2px;
    margin-bottom: 2px;
    padding: 20px;
    position: static;
    bottom: 0px;
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: center;
    border-top: 1px solid blue;
}

footer div {
    width: 33%;
    height: 20px;
}

.filter-box label{
    width: 100px;
    background-color: green;
    align-content: center;
    line-height: 1.8em;
    justify-content: center;
}

.form-control{
    line-height: 50px;
    justify-content: start;


}

.form-control label{
    letter-spacing: 0.15em;

}
body header{
    width: 100%;
}


.header{
    width: 100%;
    height: 600px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: stretch;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    animation: slide 20s infinite; 
    }
    

    
   